# Data Preprocessing
Purpose: Convert text file into readable csv file

- Regression models: How many more cycles an engine will function before it fails?

## Import

In [2]:
import numpy as np
import statistics
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import os

## Get Working Directory

In [27]:
os.getcwd()

'C:\\Users\\User\\SmartMaintenanceML'

In [3]:
# Dataset Column Name
names = ['id', 'cycle', 'setting1', 'setting2', 'setting3', 's1', 's2', 's3','s4', 's5', 's6', 's7', 's8',
         's9', 's10', 's11', 's12', 's13', 's14', 's15', 's16', 's17', 's18', 's19', 's20', 's21']

# Clean Training Dataset

In [4]:
# read training data
train_data = pd.read_csv('Dataset/train_FD001.txt', sep=" ", header=None)
train_data.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,NaN,NaN
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,NaN,NaN
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,NaN,NaN
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,NaN,NaN
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,NaN,NaN

In [ ]:
# drop extra space column
train_data.drop([26,27], axis=1, inplace='True')

# assign column names
train_data.columns = names

train_data.head()

In [ ]:
train_data.dtypes

In [ ]:
train_data.isnull().sum()

In [ ]:
train_data.describe()

# Clean Test Dataset

In [ ]:
# read test data
test_data = pd.read_csv('Dataset/test_FD001.txt', sep=" ", header=None)
test_data.head()

In [ ]:
# drop extra space column
test_data.drop([26,27], axis=1, inplace='True')

# assign column names
test_data.columns = names

test_data.head()

In [ ]:
test_data.dtypes

In [ ]:
test_data.isnull().sum()

In [ ]:
test_data.describe()

# Clean Truth Dataset

In [ ]:
# read ground truth data
truth_data = pd.read_csv('Dataset/RUL_FD001.txt', sep=" ", header=None)
truth_data.head()

In [ ]:
# drop extra space column
truth_data.drop([1], axis=1, inplace='True')

# assign column names
truth_data.columns=['RUL']

truth_data.head()

In [ ]:
truth_data.dtypes

In [ ]:
truth_data.isnull().sum()

In [6]:
truth_data.describe()

NameError: name 'truth_data' is not defined

In [ ]:
print("This is the size of the train dataset: {} entries and {} features".format(train_data.shape[0], 
                                                                                 train_data.shape[1]))
print("This is the size of the test dataset: {} entries and {} features".format(test_data.shape[0],
                                                                                test_data.shape[1]))
print("This is the size of the truth dataset: {} entries and {} features".format(truth_df.shape[0],
                                                                                 truth_df.shape[1]))

In [ ]:
n_turb = train_data["id"].unique().max()
n_train, n_features = train_data.shape
print("There is {} turbines in each dataset".format(n_turb))

# Feature Extraction
No need extra feature, do basic will do

In [31]:
# Data Labeling - generate column RUL
rul = pd.DataFrame(train_data.groupby('id')['cycle'].max()).reset_index()
rul.columns = ['id', 'max']
train_data = train_data.merge(rul, on=['id'], how='left')
train_data['RUL'] = train_data['max'] - train_data['cycle']
train_data.drop('max', axis=1, inplace=True)

In [32]:
# MinMax normalization (from 0 to 1)
train_data['cycle_norm'] = train_data['cycle']
cols_normalize = train_data.columns.difference(['id','cycle','RUL','label1'])
min_max_scaler = MinMaxScaler()
norm_train_data = pd.DataFrame(min_max_scaler.fit_transform(train_data[cols_normalize]),
                               columns=cols_normalize, index=train_data.index)
join_data = train_data[train_data.columns.difference(cols_normalize)].join(norm_train_data)
train_data = join_data.reindex(columns = train_data.columns)

print("The size of the train data set is now: {} entries and {} features.".format(train_data.shape[0],
                                                                                  train_data.shape[1]))

train_data.to_csv('Dataset/train.csv', encoding='utf-8',index = None)
print("Train Data saved as Dataset/train.csv")

The size of the train data set is now: 20631 entries and 29 features.

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

Train Data saved as Dataset/train.csv

In [33]:
# generate RUL
rul = pd.DataFrame(test_data.groupby('id')['cycle'].max()).reset_index()
rul.columns = ['id', 'max']
truth_df.columns = ['more']
truth_df['id'] = truth_df.index + 1
truth_df['max'] = rul['max'] + truth_df['more']
truth_df.drop('more', axis=1, inplace=True)
test_data = test_data.merge(truth_df, on=['id'], how='left')
test_data['RUL'] = test_data['max'] - test_data['cycle']
test_data.drop('max', axis=1, inplace=True)


# generate label columns w0 and w1 for test data
test_data['label1'] = np.where(test_data['RUL'] <= w1, 1, 0 )

# MinMax normalization (from 0 to 1)
test_data['cycle_norm'] = test_data['cycle']
norm_test_data = pd.DataFrame(min_max_scaler.transform(test_data[cols_normalize]),
                              columns=cols_normalize, index=test_data.index)
test_join_data = test_data[test_data.columns.difference(cols_normalize)].join(norm_test_data)
test_data = test_join_data.reindex(columns = test_data.columns)
test_data = test_data.reset_index(drop=True)


print("The size of the test data set is now: {} entries and {} features.".format(test_data.shape[0],
                                                                                 test_data.shape[1]))

test_data.to_csv('Dataset/test.csv', encoding='utf-8',index = None)
print("Test Data saved as Dataset/test.csv")

The size of the test data set is now: 13096 entries and 29 features.
Test Data saved as Dataset/test.csv

Neural Network is supervised classification that aim for accuracy no nid normalize redo
h5 file format is keras deep learning model