In [5]:
import pandas as pd
import numpy as np


import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline  

from sklearn import linear_model
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import PolynomialFeatures


from sklearn import model_selection #import cross_val_score, StratifiedKFold
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier, export_graphviz
from sklearn import metrics  # mean_squared_error, mean_absolute_error, median_absolute_error, explained_variance_score, r2_score
from sklearn.feature_selection import SelectFromModel, RFECV
from sklearn.externals import joblib

In [2]:
# load training data prepared previously

df_train = pd.read_csv('Dataset/train.csv')
df_train.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s13,s14,s15,s16,s17,s18,s19,s20,s21,RUL
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,191
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,190
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,189
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,188
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,187

In [3]:
# load test data prepared previously

df_test = pd.read_csv('Dataset/test.csv')
df_test.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s13,s14,s15,s16,s17,s18,s19,s20,s21,RUL
0,1,31,-0.0006,0.0004,100.0,518.67,642.58,1581.22,1398.91,14.62,...,2388.06,8130.11,8.4024,0.03,393,2388,100.0,38.81,23.3552,112
1,2,49,0.0018,-0.0001,100.0,518.67,642.55,1586.59,1410.83,14.62,...,2388.09,8126.90,8.4505,0.03,391,2388,100.0,38.81,23.2618,98
2,3,126,-0.0016,0.0004,100.0,518.67,642.88,1589.75,1418.89,14.62,...,2388.14,8131.46,8.4119,0.03,395,2388,100.0,38.93,23.2740,69
3,4,106,0.0012,0.0004,100.0,518.67,642.78,1594.53,1406.88,14.62,...,2388.11,8133.64,8.4634,0.03,395,2388,100.0,38.58,23.2581,82
4,5,98,-0.0013,-0.0004,100.0,518.67,642.27,1589.94,1419.36,14.62,...,2388.15,8125.74,8.4362,0.03,394,2388,100.0,38.75,23.4117,91

In [4]:
features_orig = ['setting1','setting2','setting3','s1','s2','s3','s4','s5','s6','s7','s8','s9','s10','s11','s12','s13','s14','s15','s16','s17','s18','s19','s20','s21']

features = features_orig


X_train = df_train[features]
y_train = df_train['RUL']

X_test = df_test[features]
y_test = df_test['RUL']

# Linear Regression

In [12]:
#try linear regression

linreg = linear_model.LinearRegression()
linreg.fit(X_train, y_train)

y_test_predict = linreg.predict(X_test)
y_train_predict = linreg.predict(X_train)

print('R^2 training: %.3f, R^2 test: %.3f' % (
      (metrics.r2_score(y_train, y_train_predict)), 
      (metrics.r2_score(y_test, y_test_predict))))


print("Root Mean Squared Error : " + (metrics.mean_squared_error(y_test, y_test_predict)**0.5).astype(str) )
print("Meat Absolute Error : " + (metrics.mean_absolute_error(y_test, y_test_predict).astype(str) ))
print("R^2 : " + (metrics.r2_score(y_test, y_test_predict).astype(str) ))
print("Explained Variance : " + (metrics.explained_variance_score(y_test, y_test_predict).astype(str) ))

# Output a pickle file for the model
joblib.dump(linreg, 'linreg_model.pkl')

R^2 training: 0.580, R^2 test: 0.405
Root Mean Squared Error : 32.04109478173947
Meat Absolute Error : 25.59178011070224
R^2 : 0.4054954961206032
Explained Variance : 0.6652969057032015

['linreg_model.pkl']

# Polynomial Regression

In [8]:
#try Polynomial regression

poly = PolynomialFeatures(degree=2)

X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.fit_transform(X_test)


polyreg = linear_model.LinearRegression()
polyreg.fit(X_train_poly, y_train)

y_test_predict = polyreg.predict(X_test_poly)
y_train_predict = polyreg.predict(X_train_poly)

print('R^2 training: %.3f, R^2 test: %.3f' % (
      (metrics.r2_score(y_train, y_train_predict)), 
      (metrics.r2_score(y_test, y_test_predict))))

print("Root Mean Squared Error : " + (metrics.mean_squared_error(y_test, y_test_predict)**0.5).astype(str) )
print("Meat Absolute Error : " + (metrics.mean_absolute_error(y_test, y_test_predict).astype(str) ))
print("R^2 : " + (metrics.r2_score(y_test, y_test_predict).astype(str) ))
print("Explained Variance : " + (metrics.explained_variance_score(y_test, y_test_predict).astype(str) ))

R^2 training: 0.627, R^2 test: 0.434
Root Mean Squared Error : 31.26132361247531
Meat Absolute Error : 23.72875
R^2 : 0.4340798205006873
Explained Variance : 0.6418857974640934

# Random Forest

In [9]:
#try Random Forest

rf = RandomForestRegressor(n_estimators=100, max_features=3, max_depth=4, n_jobs=-1, random_state=1) 

rf.fit(X_train, y_train)

y_test_predict = rf.predict(X_test)
y_train_predict = rf.predict(X_train)

print('R^2 training: %.3f, R^2 test: %.3f' % (
      (metrics.r2_score(y_train, y_train_predict)), 
      (metrics.r2_score(y_test, y_test_predict))))

print("Root Mean Squared Error : " + (metrics.mean_squared_error(y_test, y_test_predict)**0.5).astype(str) )
print("Meat Absolute Error : " + (metrics.mean_absolute_error(y_test, y_test_predict).astype(str) ))
print("R^2 : " + (metrics.r2_score(y_test, y_test_predict).astype(str) ))
print("Explained Variance : " + (metrics.explained_variance_score(y_test, y_test_predict).astype(str) ))

R^2 training: 0.594, R^2 test: 0.525
Root Mean Squared Error : 28.634252712062626
Meat Absolute Error : 23.167130265247224
R^2 : 0.5251984119830091
Explained Variance : 0.7673203860315764

# Decision Tree

In [10]:
#try Decision Tree

dtrg = DecisionTreeRegressor(max_depth=7, random_state=123)
dtrg.fit(X_train, y_train)

y_test_predict = dtrg.predict(X_test)
y_train_predict = dtrg.predict(X_train)

print('R^2 training: %.3f, R^2 test: %.3f' % (
      (metrics.r2_score(y_train, y_train_predict)), 
      (metrics.r2_score(y_test, y_test_predict))))

print("Root Mean Squared Error : " + (metrics.mean_squared_error(y_test, y_test_predict)**0.5).astype(str) )
print("Meat Absolute Error : " + (metrics.mean_absolute_error(y_test, y_test_predict).astype(str) ))
print("R^2 : " + (metrics.r2_score(y_test, y_test_predict).astype(str) ))
print("Explained Variance : " + (metrics.explained_variance_score(y_test, y_test_predict).astype(str) ))

R^2 training: 0.625, R^2 test: 0.403
Root Mean Squared Error : 32.09534866534591
Meat Absolute Error : 24.319067970898036
R^2 : 0.4034804909704117
Explained Variance : 0.6327668632397299